<%= link_to "About us", about_path %>
<%= link_to "Accueil", home_path %>

<h1> Bienvenue sur ma page d'accueil</h1>
<p>Vous pouvez créer votre nouveau compte <%= link_to "ICI", new_user_path %> </p>




